.top{
   background-color: black;
   color: white;
   padding: 5px;
}
nav{
    background-color: black;
    color: white;
    padding: 5px;
}
li,h2,ul{
    display: inline;
    }
    ul{
        margin-left: 60%;
    }
    li{
        margin: 20px;
    }


